body {
  background-color: hotpink;
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

input[type="text"] {
  font-size: 1.2em;
  width: 75%;
  max-width: 600px;
  height: 40px !important
}

#question {
  width: 80%;
  max-width: 300px
}

#ask {
  height: 40px;
  font-size: 1.2em;
  max-width: 75px
  width: 25%;
  max-width: 100px
}

pre{
  color: white;
  font-weight: bold
}