<html>

<head>
    <title>Next Lines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" link href="../static/css/style.css">
    <!-- Nunito font chosen as close match to Futura Pro Condensed Bold used in bottom half of Buzzcocks logo -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/content.js"></script>
</head>

<body>
    
    <div class="container container-top">
        <img class='top-img' src="../static/img/next-lines.png"><img>
    </div>
    <div class="container container-middle">
        <h2 class="main-text">Type a line from any song and "ASK"!</h2>
        <form id="question-form">
            <div class="row">
                <div class="input-col">
                    <input id="question-input" type="text" class="main-text font-std" autocomplete="off">
                </div>
                <div class="submit-col">
                    <input id="ask" type="button" value="ASK" class="ask main-text">
                </div>
            </div>
        </form>
        <div id="answer" style="display: none">
            <p id="answer-thinking" class="main-text font-std" style="display: none">Hmm. Let me think for a second...</p>
            <p id="answer-previous" class="main-text font-small" style="display: none">
                Previous answer:
            </p>
            <p id="answer-pass" class="main-text font-std" style="display: none">PASS. I don't know that one.</p>
            <div id="answer-answer" class="main-text font-std">
                <p style="margin-bottom: 5px;">
                    <span id="next-line"></span>
                </p>
                <p style="margin-top: 0px !important;">
                    <span id="song-name"></span> <span class="by">by</span> <span id="artist-name"></span>
                </p>
            <p>
        </div>
        <div id="feedback" class="main-text sml-fnt" style="display: none">
            <p id="feedback-please" class="font-small correct">Is this answer correct?</p>
            <form id="feedback-buttons">
                <input type="button" id="feedback-correct" class="feedback-btn yes" value="✔"></input>
                <input type="button" id="feedback-incorrect" class="feedback-btn no" value="✖"></input>
            </form>
            <p id="feedback-thanks" style="display: none;">Thank you for providing feedback.</p>
        </div>
    </div>
    
</body>
</html>