<html>

<head>
    <title>Next Lines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" link href="static/css/style.css">
    <!-- Nunito font chosen as close match to Futura Pro Condensed Bold used in bottom half of Buzzcocks logo -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/content.js"></script>
</head>

<body>
    <!-- Top image -->
    <div class="container container-top">
        <a href="https://next-lines.herokuapp.com/"><img class='top-img' src="static/img/next-lines.PNG"><img></a>
    </div>
    
    <div class="container container-middle">

        <!-- Blurb -->
        <div class="row">
            <h2 class="blurb main-text">Type a line from any song and "ASK"!</h2><img class="question-mark" src="static/img/question-mark.png">
        </div>

        <!-- Question form -->
        <div class="row">
            <div class="input-col">
                <input id="question-input" type="text" class="main-text font-std" autocomplete="off">
            </div>
            <div class="submit-col">
                <input id="ask" type="button" value="ASK" class="ask main-text">
            </div>
        </div>

        <!-- Answer display -->
        <div id="answer" class="row">
            <div id="answer-thinking" style="display: none;">
                <p class="main-text font-std">Hmm. Let me think for a second...</p>
            </div>
            <div id="answer-previous" style="display: none;">
                <p class="main-text font-small">Previous answer:</p>
            </div>
            <div id="answer-pass" style="display: none;">
                <p class="main-text font-std">PASS. I don't know that one.</p>
            </div>
            <div id="answer-answer" style="display: none;" class="main-text font-std">
                <p style="margin-bottom: 5px;">
                    <span id="next-line"></span>
                </p>
                <p style="margin-top: 0px !important; margin-bottom: 0px">
                    <span id="song-name"></span> <span class="by">by</span> <span id="artist-name"></span>
                </p>
            </div>
        </div>

        <!-- Feedback module -->
        <div id="feedback" class="row">
            <div id="feedback-please" style="display: none;">
                <p class="main-text font-small correct">Is this answer correct?</p>
            </div>
            <div id="feedback-buttons" style="display: none;">
                <input type="button" id="feedback-correct" class="main-text feedback-btn yes" value="✔"></input>
                <input type="button" id="feedback-incorrect" class="main-text feedback-btn no" value="✖"></input>
            </div>
            <div id="feedback-thanks" style="display: none;">
                <p>Thank you for providing feedback.</p>
            </div>
        </div>

    </div>
</body>

</html>